$first-font: 'Nunito', sans-serif
$second-font: 'Yantramanav', sans-serif
$first-main-color: #fff
$second-main-color: #000
$first-additional-color: #20ab50
$second-additional-color: #dcdcdc


%form
  input
    display: inline-block
    width: 312px
    line-height: 47px
    padding-left: 29px
    font-family: $second-font
    font-weight: 300
    color: #8c8c8c
    font-size: 18px
    background-color: $first-main-color
    border: 0
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px

  button
    display: inline-block
    line-height: 47px
    padding: 0 50px 0 40px
    font-family: $first-font
    font-size: 20px
    color: $first-main-color
    background-color: $first-additional-color
    border: 0
    border-top-right-radius: 50px
    border-bottom-right-radius: 50px
    transition: all .5s linear
    &:hover
      color: $first-additional-color
      background-color:  $first-main-color
      transition: all .5s linear

%h3
  font-family: $first-font
  font-weight: 300
  font-size: 30px
  color: $second-main-color
  text-align: center

%p
  font-family: $second-font
  font-weight: 300
  color: $second-main-color

%link
  text-decoration: none
  font-family: $second-font
  font-weight: 300
  color: $second-main-color
  transition: all .5s linear
  &:hover
    color: $first-additional-color
    transition: all .5s linear

*
  margin: 0
  padding: 0

.intro
  background-image: url("../images/intro-bg_01.jpg")
  background-repeat: no-repeat
  background-size: cover
  padding: 33px 56px 281px 35px
  color: #fff

  .logo
    margin-bottom: 207px


  .header_content
    display: flex
    align-items: center

    .coming_soon
      width: 99%
      h1
        font-family: $first-font
        font-weight: 300
        font-size: 60px
        text-align: center
        text-shadow: 3px 0 80px black
        margin-bottom: 40px

      p
        font-family: $second-font
        font-weight: 300
        font-size: 20px
        line-height: 32px
        text-align: center
        text-shadow: 3px -2px 8px black
        max-width: 556px
        margin: auto
        margin-bottom: 57px

      form
        display: flex
        justify-content: center
        @extend %form

    nav
      padding-left: 10px
      width: 1%
      ul
        list-style: none

        li
          a
            text-decoration: none

            &:before
              content: ""
              display: block
              width: 8px
              height: 8px
              background-color: $second-additional-color
              border-radius: 50%
              margin-bottom: 16px
              transition: .2s linear

            &:hover:before, &:active:before
              width: 12px
              height: 12px
              transition: .2s linear

.about_plae
  display: flex
  align-items: center
  flex-wrap: wrap

  .about_info
    width: 50%
    h3
      @extend %h3
      margin-bottom: 48px

    p
      @extend %p
      line-height: 24px
      font-size: 16px
      max-width: 413px
      margin: auto
      margin-bottom: 37px
      &:last-of-type
        margin-bottom: 0

  .about_img
    width: 50%
    img
      width: 100%
      display: block
      height: auto

.what_clients_say
  display: flex
  align-items: center
  flex-wrap: wrap
  .what_clients_say_img
    width: 50%
    img
      width: 100%
      height: auto
      display: block

  .what_clients_say_info
    width: 50%
    h3
      @extend %h3
      margin-bottom: 132px

    p
      @extend %p
      font-size: 20px
      text-align: center
      line-height: 30px
      max-width: 350px
      margin: auto
      margin-bottom: 108px
      &:last-of-type
        margin-bottom: 0

.find_us
  padding-top: 97px

  h3
    @extend %h3
    margin-bottom: 28px

  p
    @extend %p
    font-size: 18px
    text-align: center
    margin-bottom: 80px

  .find_us_container
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    margin-bottom: 34px

    .best_foot_forward
      max-width: 130px

      h4
        font-family: $second-font
        font-size: 16px
        margin-bottom: 12px

      p
        font-size: 15px
        text-align: left
        line-height: 22px
        margin-bottom: 19px

      a
        display: block
        @extend %link
        font-size: 15px
        margin-bottom: 62px


.like_to_stock
  h3
    @extend %h3
    margin-bottom: 23px

  p
    @extend %p
    margin-bottom: 52px
    text-align: center

  .like_to_stock_contacts
    text-align: center
    margin-bottom: 78px
    a
      text-decoration: none
      @extend %link
      font-size: 18px
      margin-right: 54.5px
      margin-left: 54.5px
      &:first-of-type
        margin-left: 0
      &:last-of-type
        margin-right: 0

.be_the_first
  padding: 135px 0 115px
  background-color: #f3f3f3
  h3
    @extend %h3
    margin-bottom: 23px

  p
    @extend %p
    font-size: 22px
    text-align: center
    margin-bottom: 49px

  form
    display: flex
    justify-content: center
    @extend %form

footer
  background-color: $second-additional-color
  padding: 15px 0 12px 37px

  p
    font-family: $second-font
    font-size: 14px
    color: $first-main-color















