/* variables declaration*/
$first-font: 'Nunito', sans-serif
$second-font: 'Yantramanav', sans-serif
$first-main-color: #fff
$second-main-color: #000
$first-additional-color: #20ab50
$second-additional-color: #dcdcdc

@mixin max-screen($res)
  @media screen and (max-width: $res)
    @content

@mixin min-screen($res)
  @media screen and (min-width: $res)
    @content

/* start templates declaration*/
%form
  input
    display: inline-block
    width: 311px
    padding: 13px 0 11px 30px
    font-family: $second-font
    font-weight: 300
    color: #8c8c8c
    font-size: 18px
    background-color: $first-main-color
    border: 0
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px
    outline: none
    box-sizing: border-box
    @include max-screen(450px)
      width: 100%
      margin-bottom: 10px
      border-top-right-radius: 50px
      border-bottom-right-radius: 50px
    @include max-screen(280px)
      font-size: 16px

  button
    display: inline-block
    padding: 10px 50px 10px 40px
    font-family: $first-font
    font-weight: 400
    font-size: 20px
    color: $first-main-color
    background-color: $first-additional-color
    border: 0
    border-top-right-radius: 50px
    border-bottom-right-radius: 50px
    box-sizing: border-box
    transition: all .5s linear

    &:hover
      color: $first-additional-color
      background-color: $first-main-color
      border-left: 2px solid $first-additional-color
      transition: all .5s linear

    @include max-screen(450px)
      width: 100%
      border-top-left-radius: 50px
      border-bottom-left-radius: 50px

%h3
  font-family: $first-font
  font-weight: 300
  font-size: 30px
  color: $second-main-color
  text-align: center
  @include max-screen(450px)
    font-size: 25px

%p
  font-family: $second-font
  font-weight: 300
  color: $second-main-color

%link
  text-decoration: none
  font-family: $second-font
  font-weight: 300
  color: $second-main-color
  transition: all .5s linear

  &:hover
    color: $first-additional-color
    transition: all .5s linear

/* end templates declaration*/

/* main styles*/
*
  margin: 0
  padding: 0


/* start intro block */
.intro.lazy
  background-image: none
.intro
  background-image: url("../images/intro-bg_01.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  padding: 33px 56px 281px 35px
  color: #fff
  overflow: hidden
  @include max-screen(450px)
    padding: 33px 45px 200px 35px
    margin-bottom: 15px

  .logo
    width: 142px
    height: 58px
    margin-bottom: 171px
    @include max-screen(450px)
      margin-bottom: 150px

  .header_content
    display: flex
    align-items: center
    justify-content: flex-end

    .coming_soon
      width: 99%

      h1
        font-family: $first-font
        font-weight: 300
        font-size: 60px
        text-align: center
        text-shadow: 3px 0 80px black
        margin-bottom: 17px
        @include max-screen(450px)
          font-size: 50px
          margin-bottom: 25px
        @include max-screen(375px)
          font-size: 47px
        @include max-screen(360px)
          font-size: 44px
        @include max-screen(320px)
          font-size: 38px
        @include max-screen(280px)
          font-size: 31px

      p
        font-family: $second-font
        font-weight: 300
        font-size: 20px
        line-height: 27px
        text-align: center
        text-shadow: 3px -2px 8px black
        max-width: 556px
        margin: auto
        margin-bottom: 55px
        @include max-screen(450px)
          margin-bottom: 25px
        @include max-screen(375px)
          line-height: 27px
        @include max-screen(320px)
          line-height: 23px
        @include max-screen(280px)
          font-size: 17px

      form
        display: flex
        align-items: flex-start
        justify-content: center
        flex-wrap: wrap
        @extend %form

    nav
      padding-left: 5px
      width: 1%
      box-sizing: border-box
      position: fixed
      z-index: 10

      ul
        list-style: none
        margin-block-start: 0
        margin-block-end: 0
        padding-inline-start: 0

        a
          text-decoration: none

          &:before
            content: ""
            display: block
            width: 8px
            height: 8px
            background-color: $second-additional-color
            border-radius: 50%
            margin-bottom: 16px
            transition: .2s linear

          &:hover:before, &.active:before
            width: 12px
            height: 12px
            transition: .2s linear

          &.active:before
            position: relative
            right: 1px

/* end intro block */

/* start about_plae block */
.about_plae
  display: flex
  align-items: center
  flex-wrap: wrap
  overflow: hidden
  @include max-screen(450px)
    justify-content: center

  .about_info
    width: 50%
    @include max-screen(450px)
      width: 100%

    h3
      @extend %h3
      margin-bottom: 48px
      @include max-screen(768px)
        margin-bottom: 10px

    p
      @extend %p
      line-height: 24px
      font-size: 16px
      max-width: 413px
      box-sizing: border-box
      margin: auto
      margin-bottom: 37px

      &:last-of-type
        margin-bottom: 0

      @include max-screen(768px)
        margin-bottom: 10px
        font-size: 15px
        padding: 0 20px
      @include max-screen(450px)
        &:last-of-type
          margin-bottom: 15px

  .about_img
    width: 50%
    @include max-screen(450px)
      width: 100%

    img
      width: 100%
      height: auto
      display: block
      @include max-screen(450px)
        margin-bottom: 50px
/* end about_plae block */

/* start what_clients_say block */
.what_clients_say
  display: flex
  align-items: center
  flex-wrap: wrap
  overflow: hidden

  .what_clients_say_img
    width: 50%
    @include max-screen(450px)
      width: 100%
      order: 2

    img
      width: 100%
      height: auto
      display: block

  .need_margin
    @include max-screen(450px)
      margin-bottom: 90px

  .what_clients_say_info
    width: 50%
    @include max-screen(450px)
      width: 100%
      order: 1
    @include max-screen(320px)
      padding: 0 20px

    h3
      @extend %h3
      margin-bottom: 78px

    p
      @extend %p
      font-size: 20px
      text-align: center
      line-height: 30px
      max-width: 324px
      margin: auto
      padding: 50px 18px 16px 13px
      box-sizing: border-box
      position: relative
      margin-bottom: 87px

      &:first-of-type:before, &:first-of-type:after
        content: "\0022"
        display: block
        font-family: $first-font
        font-weight: 300
        color: $second-additional-color
        font-size: 72px
        position: absolute

      &:first-of-type:before
        top: 20px
        left: -8px

      &.smaller_width:first-of-type:before
        left: -31px
        @include max-screen(360px)
          left: -8px

      &:first-of-type:after
        bottom: -20px
        right: -24px
        @include max-screen(360px)
          right: -13px

      &.smaller_width:first-of-type:after
        right: -30px
        @include max-screen(360px)
          right: -8px

      &:last-of-type
        padding: 0
        margin-bottom: 0

      @include max-screen(450px)
        &:last-of-type
          margin-bottom: 15px

    .smaller_width
      max-width: 294px
/* end what_clients_say block */

/* start the_range block */
.the_range
  position: relative
  overflow: hidden
  h3
    @extend %h3
    margin-top: 76px
    margin-bottom: 12px
    padding-left: 28px

  p
    @extend %p
    font-size: 18px
    text-align: center
    margin-bottom: 29px

  .slider
    max-width: 474px
    width: 100%
    margin: auto
    text-align: center
    position: relative

    .slider_content
      width: 100%
      .slider_img
        height: 452px
        margin-bottom: 6px
        img
          width: 100%
          height: 100%

      h4
        font-family: $first-font
        font-size: 24px
        text-align: center
        margin-bottom: 25px

      p
        @extend %p
        font-size: 15px
        margin-bottom: 74px

    .prev, .next
      display: block
      color: #c2c2c2
      font-size: 14px
      width: 34px
      line-height: 34px
      text-align: center
      text-decoration: none
      border: 2px solid #c2c2c2
      border-radius: 50%
      position: absolute
      bottom: 278px
      cursor: pointer
      outline: none
      @include max-screen(450px)
        bottom: 127px

    .prev
      left: -192px
      @include max-screen(768px)
        left: -60px
      @include max-screen(450px)
        left: 160px
      @include max-screen(414px)
        left: 100px


    .next
      right: -192px
      @include max-screen(768px)
        right: -60px
      @include max-screen(450px)
        right: 160px
      @include max-screen(414px)
        right: 100px

    .prev:hover, .next:hover
      color: $first-main-color
      background: #c2c2c2
      transition: all .5s linear

/* end the_range block */

/* start why_plae block */
.why_plae.lazy
  background-image: none

.why_plae
  background-image: url("../images/why-pae-bg_02.jpg")
  background-repeat: no-repeat
  background-position: center
  overflow: hidden
  padding: 79px 59px 21px
  @include min-screen(1281px)
    background-size: cover
  @include min-screen(1920px)
    padding-bottom: 94px
  @include min-screen(2048px)
    padding-bottom: 144px
  @include min-screen(2560px)
    padding-bottom: 258px
  @include max-screen(450px)
    background-size: cover

  h3
    @extend %h3
    margin-bottom: 13px

  p
    @extend %p
    font-size: 18px
    text-align: center
    margin-bottom: 5px

  .why_plae_common_content_block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
    @include min-screen(2560px)
      padding: 0 150px
    @include max-screen(450px)
      justify-content: center

    .why_plae_content
      width: 231px
      padding: 12px 16px
      box-sizing: border-box
      background-color: $first-main-color
      border-radius: 10px
      margin-bottom: 12px
      position: relative

      &:after
        content: ""
        display: inline-block
        width: 79px
        height: 109px
        background-color: transparent
        border-top: 1px solid $first-main-color
        border-right: 1px solid $first-main-color
        position: absolute
        left: 230px
        top: 44px
        @include min-screen(1380px)
          width: 108px
        @include min-screen(1400px)
          width: 116px
        @include min-screen(1440px)
          width: 125px
          height: 100px
        @include min-screen(1536px)
          width: 155px
        @include min-screen(1600px)
          width: 171px
        @include min-screen(1680px)
          width: 196px
        @include min-screen(1920px)
          width: 268px
          height: 107px
        @include min-screen(2048px)
          width: 302px
          height: 130px
        @include min-screen(2560px)
          height: 150px
        @include max-screen(1024px)
          display: none

      &.left_part:nth-child(2):after
        border-right: 0
        width: 93px
        height: 0
        top: 111px
        @include min-screen(1380px)
          width: 136px
        @include min-screen(1400px)
          width: 122px
        @include min-screen(1440px)
          width: 143px
        @include min-screen(1536px)
          width: 167px
        @include min-screen(1600px)
          width: 195px
        @include min-screen(1680px)
          width: 223px
        @include min-screen(1920px)
          width: 297px
          top: 130px
        @include min-screen(2048px)
          width: 340px
          top: 140px
        @include min-screen(2560px)
          border-right: 1px solid $first-main-color
          height: 55px
          width: 345px

      &.left_part:nth-child(3):after
        border-right: 0
        width: 111px
        height: 0
        top: 46px
        @include min-screen(1380px)
          width: 140px
          top: 51px
        @include min-screen(1400px)
          width: 142px
          top: 54px
        @include min-screen(1440px)
          width: 156px
        @include min-screen(1536px)
          width: 185px
          top: 61px
        @include min-screen(1600px)
          width: 209px
          top: 64px
        @include min-screen(1680px)
          width: 239px
          top: 69px
        @include min-screen(1920px)
          width: 302px
          top: 115px
        @include min-screen(2048px)
          width: 342px
          top: 149px
        @include min-screen(2560px)
          top: 100px
          border-right: 1px solid $first-main-color
          height: 113px
          width: 340px

      &.left_part:nth-child(4):after
        border-top: 0
        border-bottom: 1px solid $first-main-color
        width: 232px
        height: 55px
        top: 0
        @include min-screen(1380px)
          width: 274px
          height: 64px
          top: 16px
        @include min-screen(1400px)
          width: 280px
          top: 16px
        @include min-screen(1440px)
          width: 304px
          height: 51px
          top: 27px
        @include min-screen(1536px)
          width: 334px
          height: 59px
          top: 45px
        @include min-screen(1600px)
          width: 362px
        @include min-screen(1680px)
          width: 394px
          height: 46px
          top: 61px
        @include min-screen(1920px)
          border-bottom: 0
          border-top: 1px solid $first-main-color
          width: 496px
          height: 44px
          top: 99px
        @include min-screen(2048px)
          height: 89px
          width: 541px
          top: 94px
        @include min-screen(2560px)
          border-bottom: 0
          border-top: 1px solid $first-main-color
          width: 597px
          height: 213px
          top: 114px

      &.right_part:first-of-type:after
        width: 327px
        height: 100px
        border-right: 0
        border-left: 1px solid $first-main-color
        left: -327px
        top: 40%
        @include min-screen(1380px)
          width: 373px
          left: -373px
        @include min-screen(1400px)
          width: 384px
          left: -384px
        @include min-screen(1440px)
          width: 400px
          left: -400px
        @include min-screen(1536px)
          width: 449px
          left: -449px
        @include min-screen(1600px)
          height: 95px
          width: 478px
          left: -478px
        @include min-screen(1680px)
          height: 92px
          width: 520px
          left: -520px
        @include min-screen(1920px)
          height: 99px
          width: 635px
          left: -635px
        @include min-screen(2048px)
          height: 116px
          width: 700px
          left: -700px
        @include min-screen(2560px)
          height: 137px
          width: 794px
          left: -794px

      &.right_part:nth-child(2):after
        width: 273px
        height: 100px
        border-right: 0
        border-left: 1px solid $first-main-color
        left: -273px
        top: 34%
        @include min-screen(1380px)
          width: 323px
          left: -323px
        @include min-screen(1400px)
          width: 333px
          left: -333px
        @include min-screen(1440px)
          width: 349px
          left: -349px
        @include min-screen(1536px)
          width: 385px
          left: -385px
        @include min-screen(1600px)
          width: 416px
          left: -416px
        @include min-screen(1680px)
          width: 450px
          left: -450px
        @include min-screen(1920px)
          height: 135px
          width: 567px
          left: -567px
        @include min-screen(2048px)
          width: 626px
          left: -626px
          top: 55%
        @include min-screen(2560px)
          height: 185px
          width: 694px
          left: -694px
          top: 64%

      &.right_part:nth-child(3):after
        width: 101px
        height: 0
        border-right: 0
        left: -101px
        top: 25%
        @include min-screen(1380px)
          width: 120px
          left: -120px
          top: 31%
        @include min-screen(1400px)
          width: 148px
          left: -148px
        @include min-screen(1440px)
          width: 164px
          left: -164px
        @include min-screen(1536px)
          width: 173px
          left: -173px
          top: 28%
        @include min-screen(1600px)
          width: 179px
          left: -179px
          top: 35%
        @include min-screen(1680px)
          width: 199px
          left: -199px
        @include min-screen(1920px)
          width: 296px
          left: -296px
          top: 68%
        @include min-screen(2048px)
          border-bottom: 0
          border-top:  1px solid $first-main-color
          border-left:  1px solid $first-main-color
          height: 20px
          width: 331px
          left: -331px
        @include min-screen(2560px)
          border-bottom: 0
          border-top:  1px solid $first-main-color
          border-left:  1px solid $first-main-color
          height: 85px
          width: 335px
          left: -335px

      &.right_part:nth-child(4):after
        width: 181px
        height: 54px
        border-right: 0
        border-left: 1px solid $first-main-color
        border-top: 0
        border-bottom: 1px solid $first-main-color
        left: -181px
        top: -5%
        @include min-screen(1380px)
          width: 216px
          left: -216px
        @include min-screen(1400px)
          width: 225px
          left: -225px
          top: 1%
        @include min-screen(1440px)
          width: 239px
          left: -239px
        @include min-screen(1536px)
          width: 273px
          left: -273px
        @include min-screen(1600px)
          height: 48px
          width: 299px
          left: -299px
          top: 5%
        @include min-screen(1680px)
          height: 44px
          width: 299px
          left: -299px
          top: 8%
        @include min-screen(1920px)
          width: 415px
          height: 49px
          left: -415px
          top: 47%
        @include min-screen(2048px)
          border-bottom: 0
          border-top:  1px solid $first-main-color
          border-left:  1px solid $first-main-color
          height: 20px
          width: 465px
          left: -465px
          top: 56%
        @include min-screen(2560px)
          border-bottom: 0
          border-top:  1px solid $first-main-color
          border-left:  1px solid $first-main-color
          height: 107px
          width: 500px
          left: -500px
          top: 70%

      &.right_part:nth-child(5):after
        border-right: 0
        border-top: 0
        border-bottom: 1px solid $first-main-color
        width: 349px
        height: 0
        left: -349px
        top: 6%
        @include min-screen(1380px)
          width: 379px
          left: -379px
          top: 16%
        @include min-screen(1400px)
          width: 407px
          left: -407px
          top: 32%
        @include min-screen(1440px)
          width: 423px
          left: -423px
          top: 31%
        @include min-screen(1536px)
          width: 476px
          left: -476px
          top: 60%
        @include min-screen(1600px)
          width: 499px
          left: -499px
          top: 69%
        @include min-screen(1680px)
          width: 529px
          left: -529px
          top: 81%
        @include min-screen(1920px)
          border-left: 1px solid $first-main-color
          border-bottom: 0
          border-top: 1px solid $first-main-color
          height: 81px
          width: 646px
          left: -646px
          top: 78%
        @include min-screen(2048px)
          height: 120px
          width: 712px
          left: -712px
          top: 85%
        @include min-screen(2560px)
          height: 260px
          width: 802px
          left: -802px

      &:before
        content: ""
        display: inline-block
        width: 15px
        height: 15px
        background-color: $first-main-color
        background-clip: padding-box
        border: 4px solid rgba(255, 255, 255, .5)
        border-radius: 50%
        position: absolute
        top: 150px
        left: 299px
        z-index: 2
        @include min-screen(1380px)
          left: 328px
        @include min-screen(1400px)
          left: 335px
        @include min-screen(1440px)
          top: 142px
          left: 345px
        @include min-screen(1536px)
          top: 137px
          left: 374px
        @include min-screen(1600px)
          top: 132px
          left: 391px
        @include min-screen(1680px)
          top: 129px
          left: 415px
        @include min-screen(1920px)
          top: 146px
          left: 487px
        @include min-screen(2048px)
          top: 161px
          left: 521px
        @include min-screen(2560px)
          top: 184px
          left: 520px
        @include max-screen(1024px)
          display: none

      &.left_part:nth-child(2):before
        top: 100px
        left: 317px
        @include min-screen(1380px)
          left: 356px
        @include min-screen(1400px)
          left: 346px
        @include min-screen(1440px)
          left: 359px
        @include min-screen(1536px)
          left: 385px
        @include min-screen(1600px)
          left: 416px
        @include min-screen(1680px)
          left: 442px
        @include min-screen(1920px)
          top: 120px
          left: 515px
        @include min-screen(2048px)
          top: 130px
          left: 563px
        @include min-screen(2560px)
          left: 565px
          top: 177px

      &.left_part:nth-child(3):before
        top: 35px
        left: 329px
        @include min-screen(1380px)
          top: 40px
          left: 360px
        @include min-screen(1400px)
          top: 43px
          left: 363px
        @include min-screen(1440px)
          left: 374px
        @include min-screen(1536px)
          top: 50px
          left: 405px
        @include min-screen(1600px)
          top: 53px
          left: 428px
        @include min-screen(1680px)
          top: 58px
          left: 454px
        @include min-screen(1920px)
          top: 105px
          left: 527px
        @include min-screen(2048px)
          top: 138px
          left: 567px
        @include min-screen(2560px)
          top: 212px
          left: 560px

      &.left_part:nth-child(4):before
        top: -18px
        left: 451px
        @include min-screen(1380px)
          top: 2px
          left: 493px
        @include min-screen(1400px)
          top: 7px
          left: 500px
        @include min-screen(1440px)
          top: 14px
          left: 524px
        @include min-screen(1536px)
          top: 31px
          left: 554px
        @include min-screen(1600px)
          top: 41px
          left: 581px
        @include min-screen(1680px)
          top: 55px
          left: 614px
        @include min-screen(1920px)
          top: 135px
          left: 715px
        @include min-screen(2048px)
          top: 179px
          left: 761px
        @include min-screen(2560px)
          top: 322px
          left: 817px

      &.right_part:first-of-type:before
        top: 123px
        left: -337px
        @include min-screen(1380px)
          left: -384px
        @include min-screen(1400px)
          top: 119px
          left: -394px
        @include min-screen(1440px)
          left: -411px
        @include min-screen(1536px)
          top: 113px
          left: -460px
        @include min-screen(1600px)
          top: 106px
          left: -489px
        @include min-screen(1680px)
          top: 103px
          left: -530px
        @include min-screen(1920px)
          top: 120px
          left: -646px
        @include min-screen(2048px)
          left: -710px
          top: 138px
        @include min-screen(2560px)
          left: -805px
          top: 160px

      &.right_part:nth-child(2):before
        left: -284px
        top: 131px
        @include min-screen(1380px)
          left: -334px
        @include min-screen(1400px)
          top: 128px
          left: -344px
        @include min-screen(1440px)
          left: -360px
          top: 130px
        @include min-screen(1536px)
          left: -396px
          top: 136px
        @include min-screen(1600px)
          left: -427px
          top: 132px
        @include min-screen(1680px)
          left: -461px
        @include min-screen(1920px)
          left: -577px
          top: 168px
        @include min-screen(2048px)
          left: -636px
          top: 196px
        @include min-screen(2560px)
          left: -704px
          top: 252px

      &.right_part:nth-child(3):before
        top: 17px
        left: -109px
        @include min-screen(1380px)
          top: 23px
          left: -129px
        @include min-screen(1400px)
          left: -159px
        @include min-screen(1440px)
          left: -175px
        @include min-screen(1536px)
          left: -188px
          top: 21px
        @include min-screen(1600px)
          left: -194px
          top: 28px
        @include min-screen(1680px)
          left: -216px
        @include min-screen(1920px)
          top: 66px
          left: -303px
        @include min-screen(2048px)
          left: -342px
          top: 92px
        @include min-screen(2560px)
          left: -344px
          top: 155px

      &.right_part:nth-child(4):before
        top: -21px
        left: -192px
        @include min-screen(1380px)
          top: -11px
          left: -226px
        @include min-screen(1400px)
          left: -236px
          top: -11px
        @include min-screen(1440px)
          left: -250px
        @include min-screen(1536px)
          top: -3px
          left: -284px
        @include min-screen(1600px)
          top: 1px
          left: -310px
        @include min-screen(1680px)
          top: 8px
          left: -337px
        @include min-screen(1920px)
          left: -425px
          top: 61px
        @include min-screen(2048px)
          left: -475px
          top: 94px
        @include min-screen(2560px)
          left: -510px
          top: 192px

      &.right_part:nth-child(5):before
        top: -7px
        left: -368px
        @include min-screen(1380px)
          top: 2px
          left: -399px
        @include min-screen(1400px)
          top: 17px
          left: -419px
        @include min-screen(1440px)
          left: -432px
        @include min-screen(1536px)
          top: 43px
          left: -488px
        @include min-screen(1600px)
          top: 51px
          left: -512px
        @include min-screen(1680px)
          top: 63px
          left: -548px
        @include min-screen(1920px)
          left: -657px
          top: 140px
        @include min-screen(2048px)
          left: -723px
          top: 191px
        @include min-screen(2560px)
          left: -812px
          top: 338px

      h5
        font-family: $second-font
        color: $second-main-color
        font-size: 16px
        margin-bottom: 1px

      p
        font-size: 15px
        text-align: left
        line-height: 23px
        margin-bottom: 0
/* end why_plae block */

/* start find_us block */
.find_us
  padding-top: 77px
  overflow: hidden
  @include max-screen(450px)
    padding: 65px 15px 0

  h3
    @extend %h3
    margin-bottom: 12px
    @include max-screen(450px)
      margin-bottom: 18px
    @include max-screen(280px)
      margin-bottom: 10px

  p
    @extend %p
    font-size: 18px
    text-align: center
    margin-bottom: 71px
    @include max-screen(450px)
      margin-bottom: 50px

  .find_us_container
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    margin-bottom: 34px

    .best_foot_forward
      max-width: 130px

      h4
        font-family: $second-font
        font-size: 16px
        margin-bottom: 1px

      p
        font-size: 15px
        text-align: left
        line-height: 22px
        margin-bottom: 10px

      a
        display: block
        @extend %link
        font-size: 15px
        margin-bottom: 53px
        @include max-screen(280px)
          margin-bottom: 45px

      .bigger_margin
        margin-bottom: 58px
        @include max-screen(768px)
          margin-bottom: 53px

/* end find_us block */

/* start like_to_stock block */
.like_to_stock
  overflow: hidden
  h3
    @extend %h3
    font-size: 24px
    margin-bottom: 12px
    @include max-screen(375px)
      margin-bottom: 15px
    @include max-screen(280px)
      margin-bottom: 10px

  p
    @extend %p
    text-align: center
    margin-bottom: 42px

  .like_to_stock_contacts
    display: flex
    justify-content: space-between
    max-width: 350px
    margin: auto
    margin-bottom: 76px
    @include max-screen(360px)
      justify-content: space-around

    a
      text-decoration: none
      @extend %link
      font-size: 18px
/* end like_to_stock block */

/* start be_the_first block */
.be_the_first
  padding: 127px 0 113px
  background-color: #f3f3f3
  overflow: hidden
  @include max-screen(450px)
    padding: 105px 20px
  @include max-screen(320px)
    padding: 105px 10px

  h3
    @extend %h3
    margin-bottom: 8px

  p
    @extend %p
    font-size: 22px
    text-align: center
    margin-bottom: 44px
    @include max-screen(360px)
      font-size: 18px

  form
    display: flex
    justify-content: center
    flex-wrap: wrap
    @extend %form

/* start footer */
footer
  background-color: $second-additional-color
  padding: 12px 0 11px 37px
  overflow: hidden
  @include max-screen(450px)
    padding-left: 0

  p
    font-family: $second-font
    font-size: 14px
    color: $first-main-color
    @include max-screen(450px)
      text-align: center
/* end footer */














