.intro .header_content .coming_soon form input {
  display: inline-block;
  width: 312px;
  line-height: 47px;
  padding-left: 29px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  color: #8c8c8c;
  font-size: 18px;
  background-color: #fff;
  border: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; }
.intro .header_content .coming_soon form button {
  display: inline-block;
  line-height: 47px;
  padding: 0 50px 0 40px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #20ab50;
  border: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; }

.about_plae .about_info h3, .what_clients_say .what_clients_say_info h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #000;
  text-align: center; }

.about_plae .about_info p, .what_clients_say .what_clients_say_info p {
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
  color: #000; }

* {
  margin: 0;
  padding: 0; }

.intro {
  background-image: url("../images/intro-bg_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 33px 56px 281px 35px;
  color: #fff; }
  .intro .logo {
    margin-bottom: 207px; }
  .intro .header_content {
    display: flex;
    align-items: center; }
    .intro .header_content .coming_soon {
      width: 99%; }
      .intro .header_content .coming_soon h1 {
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-size: 60px;
        text-align: center;
        text-shadow: 3px 0 80px black;
        margin-bottom: 40px; }
      .intro .header_content .coming_soon p {
        font-family: "Yantramanav", sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        text-shadow: 3px -2px 8px black;
        max-width: 556px;
        margin: auto;
        margin-bottom: 57px; }
      .intro .header_content .coming_soon form {
        display: flex;
        justify-content: center; }
    .intro .header_content nav {
      padding-left: 10px;
      width: 1%; }
      .intro .header_content nav ul {
        list-style: none; }
        .intro .header_content nav ul li a {
          text-decoration: none; }
          .intro .header_content nav ul li a:before {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            background-color: #dcdcdc;
            border-radius: 50%;
            margin-bottom: 16px;
            transition: 0.2s linear; }
          .intro .header_content nav ul li a:hover:before, .intro .header_content nav ul li a:active:before {
            width: 12px;
            height: 12px;
            transition: 0.2s linear; }

.about_plae {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .about_plae .about_info {
    width: 50%; }
    .about_plae .about_info h3 {
      margin-bottom: 48px; }
    .about_plae .about_info p {
      line-height: 24px;
      font-size: 16px;
      max-width: 413px;
      margin: auto;
      margin-bottom: 37px; }
      .about_plae .about_info p:last-of-type {
        margin-bottom: 0; }
  .about_plae .about_img {
    width: 50%; }
    .about_plae .about_img img {
      width: 100%;
      display: block;
      height: auto; }

.what_clients_say {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .what_clients_say .what_clients_say_img {
    width: 50%; }
    .what_clients_say .what_clients_say_img img {
      width: 100%;
      height: auto;
      display: block; }
  .what_clients_say .what_clients_say_info {
    width: 50%; }
    .what_clients_say .what_clients_say_info h3 {
      margin-bottom: 132px; }
    .what_clients_say .what_clients_say_info p {
      font-size: 20px;
      text-align: center;
      line-height: 30px;
      max-width: 350px;
      margin: auto;
      margin-bottom: 108px; }
      .what_clients_say .what_clients_say_info p:last-of-type {
        margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
