/* variables declaration */
/* start templates declaration */
.intro .header_content .coming_soon form input, .be_the_first form input {
  display: inline-block;
  width: 311px;
  padding: 13px 0 11px 30px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  color: #8c8c8c;
  font-size: 18px;
  background-color: #fff;
  border: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
  box-sizing: border-box; }
  @media screen and (max-width: 450px) {
    .intro .header_content .coming_soon form input, .be_the_first form input {
      width: 100%;
      margin-bottom: 10px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px; } }
  @media screen and (max-width: 280px) {
    .intro .header_content .coming_soon form input, .be_the_first form input {
      font-size: 16px; } }
.intro .header_content .coming_soon form button, .be_the_first form button {
  display: inline-block;
  padding: 10px 50px 10px 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: #20ab50;
  border: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-sizing: border-box;
  transition: all 0.5s linear; }
  .intro .header_content .coming_soon form button:hover, .be_the_first form button:hover {
    color: #20ab50;
    background-color: #fff;
    border-left: 2px solid #20ab50;
    transition: all 0.5s linear; }
  @media screen and (max-width: 450px) {
    .intro .header_content .coming_soon form button, .be_the_first form button {
      width: 100%;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px; } }

.about_plae .about_info h3, .what_clients_say .what_clients_say_info h3, .the_range h3, .why_plae h3, .find_us h3, .like_to_stock h3, .be_the_first h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #000;
  text-align: center; }
  @media screen and (max-width: 450px) {
    .about_plae .about_info h3, .what_clients_say .what_clients_say_info h3, .the_range h3, .why_plae h3, .find_us h3, .like_to_stock h3, .be_the_first h3 {
      font-size: 25px; } }

.about_plae .about_info p, .what_clients_say .what_clients_say_info p, .the_range p, .the_range .slider .slider_content p, .why_plae p, .find_us p, .like_to_stock p, .be_the_first p {
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  color: #000; }

.find_us .find_us_container .best_foot_forward a, .like_to_stock .like_to_stock_contacts a {
  text-decoration: none;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  color: #000;
  transition: all 0.5s linear; }
  .find_us .find_us_container .best_foot_forward a:hover, .like_to_stock .like_to_stock_contacts a:hover {
    color: #20ab50;
    transition: all 0.5s linear; }

/* end templates declaration */
/* main styles */
* {
  margin: 0;
  padding: 0; }

/* start intro block */
.intro {
  background-image: url("../images/intro-bg_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 33px 56px 281px 35px;
  color: #fff; }
  @media screen and (max-width: 450px) {
    .intro {
      padding: 33px 45px 200px 35px;
      margin-bottom: 15px; } }
  .intro .logo {
    margin-bottom: 171px; }
    @media screen and (max-width: 450px) {
      .intro .logo {
        margin-bottom: 150px; } }
  .intro .header_content {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .intro .header_content .coming_soon {
      width: 99%; }
      .intro .header_content .coming_soon h1 {
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-size: 60px;
        text-align: center;
        text-shadow: 3px 0 80px black;
        margin-bottom: 17px; }
        @media screen and (max-width: 450px) {
          .intro .header_content .coming_soon h1 {
            font-size: 50px;
            margin-bottom: 25px; } }
        @media screen and (max-width: 375px) {
          .intro .header_content .coming_soon h1 {
            font-size: 47px; } }
        @media screen and (max-width: 360px) {
          .intro .header_content .coming_soon h1 {
            font-size: 44px; } }
        @media screen and (max-width: 320px) {
          .intro .header_content .coming_soon h1 {
            font-size: 38px; } }
        @media screen and (max-width: 280px) {
          .intro .header_content .coming_soon h1 {
            font-size: 31px; } }
      .intro .header_content .coming_soon p {
        font-family: "Yantramanav", sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        text-shadow: 3px -2px 8px black;
        max-width: 556px;
        margin: auto;
        margin-bottom: 55px; }
        @media screen and (max-width: 450px) {
          .intro .header_content .coming_soon p {
            margin-bottom: 25px; } }
        @media screen and (max-width: 375px) {
          .intro .header_content .coming_soon p {
            line-height: 27px; } }
        @media screen and (max-width: 320px) {
          .intro .header_content .coming_soon p {
            line-height: 23px; } }
        @media screen and (max-width: 280px) {
          .intro .header_content .coming_soon p {
            font-size: 17px; } }
      .intro .header_content .coming_soon form {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap; }
    .intro .header_content nav {
      padding-left: 5px;
      width: 1%;
      box-sizing: border-box;
      position: fixed;
      z-index: 10; }
      .intro .header_content nav ul {
        list-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0; }
        .intro .header_content nav ul li a {
          text-decoration: none; }
          .intro .header_content nav ul li a:before {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            background-color: #dcdcdc;
            border-radius: 50%;
            margin-bottom: 16px;
            transition: 0.2s linear; }
          .intro .header_content nav ul li a:hover:before, .intro .header_content nav ul li a.active:before {
            width: 12px;
            height: 12px;
            transition: 0.2s linear; }
          .intro .header_content nav ul li a.active:before {
            position: relative;
            right: 1px; }

/* end intro block */
/* start about_plae block */
.about_plae {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  @media screen and (max-width: 450px) {
    .about_plae {
      justify-content: center; } }
  .about_plae .about_info {
    width: 50%; }
    @media screen and (max-width: 450px) {
      .about_plae .about_info {
        width: 100%; } }
    .about_plae .about_info h3 {
      margin-bottom: 48px; }
      @media screen and (max-width: 768px) {
        .about_plae .about_info h3 {
          margin-bottom: 10px; } }
    .about_plae .about_info p {
      line-height: 24px;
      font-size: 16px;
      max-width: 413px;
      box-sizing: border-box;
      margin: auto;
      margin-bottom: 37px; }
      .about_plae .about_info p:last-of-type {
        margin-bottom: 0; }
      @media screen and (max-width: 768px) {
        .about_plae .about_info p {
          margin-bottom: 10px;
          font-size: 15px;
          padding: 0 20px; } }
      @media screen and (max-width: 450px) {
        .about_plae .about_info p:last-of-type {
          margin-bottom: 15px; } }
  .about_plae .about_img {
    width: 50%; }
    @media screen and (max-width: 450px) {
      .about_plae .about_img {
        width: 100%; } }
    .about_plae .about_img img {
      width: 100%;
      height: auto;
      display: block; }
      @media screen and (max-width: 450px) {
        .about_plae .about_img img {
          margin-bottom: 50px; } }

/* end about_plae block */
/* start what_clients_say block */
.what_clients_say {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .what_clients_say .what_clients_say_img {
    width: 50%; }
    @media screen and (max-width: 450px) {
      .what_clients_say .what_clients_say_img {
        width: 100%;
        order: 2; } }
    .what_clients_say .what_clients_say_img img {
      width: 100%;
      height: auto;
      display: block; }
  @media screen and (max-width: 450px) {
    .what_clients_say .need_margin {
      margin-bottom: 90px; } }
  .what_clients_say .what_clients_say_info {
    width: 50%; }
    @media screen and (max-width: 450px) {
      .what_clients_say .what_clients_say_info {
        width: 100%;
        order: 1; } }
    @media screen and (max-width: 320px) {
      .what_clients_say .what_clients_say_info {
        padding: 0 20px; } }
    .what_clients_say .what_clients_say_info h3 {
      margin-bottom: 78px; }
    .what_clients_say .what_clients_say_info p {
      font-size: 20px;
      text-align: center;
      line-height: 30px;
      max-width: 324px;
      margin: auto;
      padding: 50px 18px 16px 13px;
      box-sizing: border-box;
      position: relative;
      margin-bottom: 87px; }
      .what_clients_say .what_clients_say_info p:first-of-type:before, .what_clients_say .what_clients_say_info p:first-of-type:after {
        content: '"';
        display: block;
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        color: #dcdcdc;
        font-size: 72px;
        position: absolute; }
      .what_clients_say .what_clients_say_info p:first-of-type:before {
        top: 20px;
        left: -8px; }
      .what_clients_say .what_clients_say_info p.smaller_width:first-of-type:before {
        left: -31px; }
      .what_clients_say .what_clients_say_info p:first-of-type:after {
        bottom: -20px;
        right: -24px; }
      .what_clients_say .what_clients_say_info p.smaller_width:first-of-type:after {
        right: -30px; }
      .what_clients_say .what_clients_say_info p:last-of-type {
        padding: 0;
        margin-bottom: 0; }
      @media screen and (max-width: 450px) {
        .what_clients_say .what_clients_say_info p:last-of-type {
          margin-bottom: 15px; } }
    .what_clients_say .what_clients_say_info .smaller_width {
      max-width: 294px; }

/* end what_clients_say block */
/* start the_range block */
.the_range {
  position: relative; }
  .the_range h3 {
    margin-top: 76px;
    margin-bottom: 12px;
    padding-left: 28px; }
  .the_range p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 29px; }
  .the_range .slider {
    max-width: 474px;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative; }
    .the_range .slider .slider_content {
      width: 100%; }
      .the_range .slider .slider_content .slider_img {
        height: 452px;
        margin-bottom: 6px; }
        .the_range .slider .slider_content .slider_img img {
          width: 100%;
          height: 100%; }
      .the_range .slider .slider_content h4 {
        font-family: "Nunito", sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 25px; }
      .the_range .slider .slider_content p {
        font-size: 15px;
        margin-bottom: 74px; }
    .the_range .slider .prev, .the_range .slider .next {
      display: block;
      color: #c2c2c2;
      font-size: 14px;
      width: 34px;
      line-height: 34px;
      text-align: center;
      text-decoration: none;
      border: 2px solid #c2c2c2;
      border-radius: 50%;
      position: absolute;
      bottom: 278px;
      cursor: pointer;
      outline: none; }
      @media screen and (max-width: 450px) {
        .the_range .slider .prev, .the_range .slider .next {
          bottom: 127px; } }
    .the_range .slider .prev {
      left: -192px; }
    .the_range .slider .next {
      right: -192px; }
    .the_range .slider .prev:hover, .the_range .slider .next:hover {
      color: #fff;
      background: #c2c2c2;
      transition: all 0.5s linear; }

/* end the_range block */
/* start why_plae block */
.why_plae {
  background-image: url("../images/why-pae-bg_02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 79px 59px 21px; }
  @media screen and (min-width: 1281px) {
    .why_plae {
      background-size: cover; } }
  .why_plae h3 {
    margin-bottom: 13px; }
  .why_plae p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px; }
  .why_plae .why_plae_common_content_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    @media screen and (min-width: 2560px) {
      .why_plae .why_plae_common_content_block {
        padding: 0 150px; } }
    @media screen and (max-width: 450px) {
      .why_plae .why_plae_common_content_block {
        justify-content: center; } }
    .why_plae .why_plae_common_content_block .why_plae_content {
      width: 231px;
      padding: 12px 16px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 12px;
      position: relative; }
      .why_plae .why_plae_common_content_block .why_plae_content:after {
        content: "";
        display: inline-block;
        width: 79px;
        height: 109px;
        background-color: transparent;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        position: absolute;
        left: 230px;
        top: 44px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content:after {
            width: 116px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content:after {
            width: 125px;
            height: 100px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content:after {
            width: 155px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content:after {
            width: 171px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content:after {
            width: 196x; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content:after {
            width: 96px;
            height: 113px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content:after {
            width: 302px;
            height: 94px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content:after {
            height: 64px; } }
        @media screen and (max-width: 1024px) {
          .why_plae .why_plae_common_content_block .why_plae_content:after {
            display: none; } }
      .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):after {
        border-right: 0;
        width: 93px;
        height: 0;
        top: 111px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):after {
            width: 122px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):after {
            width: 143px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):after {
            width: 167px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):after {
            width: 195px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):after {
            width: 223px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):after {
            width: 288px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):after {
            width: 325px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):after {
        border-right: 0;
        width: 111px;
        height: 0;
        top: 46px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):after {
            width: 142px;
            top: 54px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):after {
            width: 156px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):after {
            width: 185px;
            top: 61px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):after {
            width: 209px;
            top: 64px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):after {
            width: 239px;
            top: 69px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):after {
            width: 298px;
            top: 62px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):after {
            width: 339px;
            top: 82px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):after {
            top: 100px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):after {
        border-top: 0;
        border-bottom: 1px solid #fff;
        width: 232px;
        height: 55px;
        top: 0; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):after {
            width: 280px;
            top: 16px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):after {
            width: 304px;
            height: 51px;
            top: 27px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):after {
            width: 334px;
            height: 59px;
            top: 45px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):after {
            width: 362px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):after {
            width: 394px;
            height: 46px;
            top: 61px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):after {
            width: 482px;
            height: 44px;
            top: 69px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):after {
            width: 541px;
            top: 94px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):after {
            border-bottom: 0;
            border-top: 1px solid #fff;
            width: 560px;
            height: 57px;
            top: 114px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:after {
        width: 327px;
        height: 100px;
        border-right: 0;
        border-left: 1px solid #fff;
        left: -327px;
        top: 40%; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:after {
            width: 384px;
            left: -384px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:after {
            width: 400px;
            left: -400px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:after {
            width: 449px;
            left: -449px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:after {
            height: 95px;
            width: 478px;
            left: -478px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:after {
            height: 92px;
            width: 520px;
            left: -520px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:after {
            width: 633px;
            left: -633px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:after {
            width: 694px;
            left: -694px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:after {
            height: 75px;
            width: 781px;
            left: -781px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):after {
        width: 273px;
        height: 100px;
        border-right: 0;
        border-left: 1px solid #fff;
        left: -273px;
        top: 34%; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):after {
            width: 333px;
            left: -333px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):after {
            width: 349px;
            left: -349px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):after {
            width: 385px;
            left: -385px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):after {
            width: 416px;
            left: -416px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):after {
            width: 450px;
            left: -450px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):after {
            width: 568px;
            left: -568px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):after {
            width: 626px;
            left: -626px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):after {
            width: 694px;
            left: -694px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):after {
        width: 101px;
        height: 0;
        border-right: 0;
        left: -101px;
        top: 25%; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):after {
            width: 148px;
            left: -148px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):after {
            width: 164px;
            left: -164px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):after {
            width: 173px;
            left: -173px;
            top: 28%; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):after {
            width: 179px;
            left: -179px;
            top: 35%; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):after {
            width: 199px;
            left: -199px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):after {
            width: 296px;
            left: -296px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):after {
            width: 346px;
            left: -346px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):after {
        width: 181px;
        height: 54px;
        border-right: 0;
        border-left: 1px solid #fff;
        border-top: 0;
        border-bottom: 1px solid #fff;
        left: -181px;
        top: -5%; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):after {
            width: 225px;
            left: -225px;
            top: 1%; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):after {
            width: 239px;
            left: -239px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):after {
            width: 273px;
            left: -273px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):after {
            height: 48px;
            width: 299px;
            left: -299px;
            top: 5%; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):after {
            height: 44px;
            width: 299px;
            left: -299px;
            top: 8%; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):after {
            width: 421px;
            height: 57px;
            left: -420px;
            top: 8%; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):after {
            width: 465px;
            height: 57px;
            left: -465px;
            top: 16%; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):after {
            width: 500px;
            left: -500px;
            top: 40%; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):after {
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #fff;
        width: 349px;
        height: 0;
        left: -349px;
        top: 6%; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):after {
            width: 407px;
            left: -407px;
            top: 32%; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):after {
            width: 423px;
            left: -423px;
            top: 31%; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):after {
            width: 476px;
            left: -476px;
            top: 60%; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):after {
            width: 499px;
            left: -499px;
            top: 69%; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):after {
            width: 529px;
            left: -529px;
            top: 81%; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):after {
            width: 666px;
            left: -666px;
            top: 78%; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):after {
            width: 710px;
            left: -710px;
            top: 85%; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):after {
            width: 802px;
            left: -802px; } }
      .why_plae .why_plae_common_content_block .why_plae_content:before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: #fff;
        background-clip: padding-box;
        border: 4px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        position: absolute;
        top: 150px;
        left: 299px;
        z-index: 2; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content:before {
            left: 335px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content:before {
            top: 142px;
            left: 345px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content:before {
            top: 137px;
            left: 374px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content:before {
            top: 132px;
            left: 391px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content:before {
            top: 129px;
            left: 415px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content:before {
            top: 160px;
            left: 487px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content:before {
            top: 150px;
            left: 521px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content:before {
            top: 120px;
            left: 522px; } }
        @media screen and (max-width: 1024px) {
          .why_plae .why_plae_common_content_block .why_plae_content:before {
            display: none; } }
      .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):before {
        top: 100px;
        left: 317px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):before {
            left: 346px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):before {
            left: 359px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):before {
            left: 385px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):before {
            left: 416px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):before {
            left: 442px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):before {
            left: 507px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(2):before {
            left: 545px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):before {
        top: 35px;
        left: 329px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):before {
            top: 43px;
            left: 363px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):before {
            left: 374px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):before {
            top: 50px;
            left: 405px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):before {
            top: 53px;
            left: 428px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):before {
            top: 58px;
            left: 454px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):before {
            top: 50px;
            left: 516px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):before {
            top: 70px;
            left: 560px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(3):before {
            top: 88px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):before {
        top: -18px;
        left: 451px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):before {
            top: 7px;
            left: 500px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):before {
            top: 14px;
            left: 524px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):before {
            top: 31px;
            left: 554px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):before {
            top: 41px;
            left: 581px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):before {
            top: 55px;
            left: 614px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):before {
            top: 56px;
            left: 701px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):before {
            top: 85px;
            left: 761px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.left_part:nth-child(4):before {
            top: 156px;
            left: 779px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:before {
        top: 123px;
        left: -337px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:before {
            top: 119px;
            left: -394px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:before {
            left: -411px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:before {
            top: 113px;
            left: -460px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:before {
            top: 106px;
            left: -489px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:before {
            top: 103px;
            left: -530px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:before {
            left: -644px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:before {
            left: -704px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:first-of-type:before {
            left: -791px;
            top: 108px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):before {
        left: -284px;
        top: 131px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):before {
            top: 128px;
            left: -344px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):before {
            left: -360px;
            top: 130px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):before {
            left: -396px;
            top: 136px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):before {
            left: -427px;
            top: 132px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):before {
            left: -461px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):before {
            left: -577px;
            top: 164px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):before {
            left: -636px;
            top: 168px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(2):before {
            left: -704px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):before {
        top: 17px;
        left: -109px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):before {
            left: -159px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):before {
            left: -175px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):before {
            left: -188px;
            top: 21px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):before {
            left: -194px;
            top: 28px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):before {
            left: -216px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):before {
            left: -303px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(3):before {
            left: -354px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):before {
        top: -21px;
        left: -192px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):before {
            left: -236px;
            top: -11px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):before {
            left: -250px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):before {
            top: -3px;
            left: -284px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):before {
            top: 1px;
            left: -310px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):before {
            top: 8px;
            left: -337px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):before {
            left: -429px;
            top: 0; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):before {
            left: -475px;
            top: 8px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(4):before {
            left: -510px;
            top: 43px; } }
      .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):before {
        top: -7px;
        left: -368px; }
        @media screen and (min-width: 1400px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):before {
            top: 17px;
            left: -419px; } }
        @media screen and (min-width: 1440px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):before {
            left: -432px; } }
        @media screen and (min-width: 1536px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):before {
            top: 43px;
            left: -488px; } }
        @media screen and (min-width: 1600px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):before {
            top: 51px;
            left: -512px; } }
        @media screen and (min-width: 1680px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):before {
            top: 63px;
            left: -548px; } }
        @media screen and (min-width: 1920px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):before {
            left: -675px;
            top: 75px; } }
        @media screen and (min-width: 2048px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):before {
            left: -723px;
            top: 84px; } }
        @media screen and (min-width: 2560px) {
          .why_plae .why_plae_common_content_block .why_plae_content.right_part:nth-child(5):before {
            left: -812px; } }
      .why_plae .why_plae_common_content_block .why_plae_content h5 {
        font-family: "Yantramanav", sans-serif;
        color: #000;
        font-size: 16px;
        margin-bottom: 1px; }
      .why_plae .why_plae_common_content_block .why_plae_content p {
        font-size: 15px;
        text-align: left;
        line-height: 23px;
        margin-bottom: 0; }

/* end why_plae block */
/* start find_us block */
.find_us {
  padding-top: 77px; }
  @media screen and (max-width: 450px) {
    .find_us {
      padding: 65px 15px 0; } }
  .find_us h3 {
    margin-bottom: 12px; }
    @media screen and (max-width: 450px) {
      .find_us h3 {
        margin-bottom: 18px; } }
    @media screen and (max-width: 280px) {
      .find_us h3 {
        margin-bottom: 10px; } }
  .find_us p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 71px; }
    @media screen and (max-width: 450px) {
      .find_us p {
        margin-bottom: 50px; } }
  .find_us .find_us_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 34px; }
    .find_us .find_us_container .best_foot_forward {
      max-width: 130px; }
      .find_us .find_us_container .best_foot_forward h4 {
        font-family: "Yantramanav", sans-serif;
        font-size: 16px;
        margin-bottom: 1px; }
      .find_us .find_us_container .best_foot_forward p {
        font-size: 15px;
        text-align: left;
        line-height: 22px;
        margin-bottom: 10px; }
      .find_us .find_us_container .best_foot_forward a {
        display: block;
        font-size: 15px;
        margin-bottom: 53px; }
        @media screen and (max-width: 280px) {
          .find_us .find_us_container .best_foot_forward a {
            margin-bottom: 45px; } }
      .find_us .find_us_container .best_foot_forward .bigger_margin {
        margin-bottom: 58px; }
        @media screen and (max-width: 768px) {
          .find_us .find_us_container .best_foot_forward .bigger_margin {
            margin-bottom: 53px; } }

/* end find_us block */
/* start like_to_stock block */
.like_to_stock h3 {
  font-size: 24px;
  margin-bottom: 12px; }
  @media screen and (max-width: 375px) {
    .like_to_stock h3 {
      margin-bottom: 15px; } }
  @media screen and (max-width: 280px) {
    .like_to_stock h3 {
      margin-bottom: 10px; } }
.like_to_stock p {
  text-align: center;
  margin-bottom: 42px; }
.like_to_stock .like_to_stock_contacts {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: auto;
  margin-bottom: 76px; }
  .like_to_stock .like_to_stock_contacts a {
    text-decoration: none;
    font-size: 18px; }

/* end like_to_stock block */
/* start be_the_first block */
.be_the_first {
  padding: 127px 0 113px;
  background-color: #f3f3f3; }
  @media screen and (max-width: 450px) {
    .be_the_first {
      padding: 105px 20px; } }
  @media screen and (max-width: 320px) {
    .be_the_first {
      padding: 105px 10px; } }
  .be_the_first h3 {
    margin-bottom: 8px; }
  .be_the_first p {
    font-size: 22px;
    text-align: center;
    margin-bottom: 44px; }
    @media screen and (max-width: 360px) {
      .be_the_first p {
        font-size: 18px; } }
  .be_the_first form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }

/* start footer */
footer {
  background-color: #dcdcdc;
  padding: 12px 0 11px 37px; }
  @media screen and (max-width: 450px) {
    footer {
      padding-left: 0; } }
  footer p {
    font-family: "Yantramanav", sans-serif;
    font-size: 14px;
    color: #fff; }
    @media screen and (max-width: 450px) {
      footer p {
        text-align: center; } }

/* end footer */

/*# sourceMappingURL=style.css.map */
